<!--
  This component is the main view after login.  It shows all movies returned by the API call.  Users can perform multiple actions on each movie card including viewing modals of individual movie details, director details, and genre details.  Users can also add individual movies to their favorites.
-->
<app-nav-bar></app-nav-bar>

<div style="display: flex;">
  <!-- 
      *ngFor directive is used to display all returned movies and display them on their own card.
    -->
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions>
      <button class="genre-button" mat-button color="grey"
        (click)="showGenreDialog(movie.Genre.Name, movie.Genre.Description)">
        Genre
      </button>
      <button class="director-button" mat-button color="grey"
        (click)="showDirectorDialog(movie.Director, movie.Bio, movie.Birth)">
        Director
      </button>
      <button class="details-button" mat-button color="grey"
        (click)="showDetailsDialog(movie.Title, movie.ImagePath, movie.Description, movie.Director, movie.Genre.Name)">
        Details
      </button>
      <br>
      <br>
      <div class="favourite">
        <button class="favourite-button" mat-icon-button (click)="addFavourite(movie._id, movie.Title)" color="warn"
          aria-label="Add movie to favourites button">
          <mat-icon>favourite_border</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>