@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Satisfy&display=swap');

.login-title {
  font-family: 'Michroma', sans-serif;
  font-size: 16px;
  margin-left: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.login-card {
  background-color: #cfd8dc;
  border: 1px solid black;
}

.mat-form-field {
  margin-top: 8px;
}

::ng-deep.mat-dialog-container {
  background-color: #B0BEC5;
}

input {
  font-size: 14px;
}

.sign-in-button {
  font-family: 'Michroma', sans-serif;
  margin-bottom: 5px;
  border: 1px solid black;
}

.close-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  top: -5px;
  right: 28px;
}

.close-icon {
  width: 0;
}
