<!--The user-profile component displays all the user data. It also contains buttons to update their profile, delete their profile and a go-back-button-->
<div class="body">
  <mat-card class="user-proflie">
    <mat-card-header>
      <mat-card-title> Your Profile </mat-card-title>
    </mat-card-header>
    <mat-card-content> Username: {{ user.Username }} </mat-card-content>
    <mat-card-content> Password: ******** </mat-card-content>
    <mat-card-content> Email: {{ user.Email }} </mat-card-content>
    <mat-card-content>
      Birthday: {{ user.Birthday | date: "MM/dd/yyyy":"UTC" }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openUpdateProfileDialog()">
        Update Profile Information
      </button>
      <button mat-raised-button color="warn" (click)="deleteProfile()">
        Delete Profile
      </button>
    </mat-card-actions>
    <mat-card-content>
      <mat-card-title>Your Favorite Movies:</mat-card-title>
    </mat-card-content>
    <div class="favorite-cards">
      <mat-card *ngFor="let favorite of favorites">
        <mat-card-header>
          <mat-card-title>{{ favorite.Title }}</mat-card-title>
          <!-- <mat-card-subtitle>Directed by: {{favorite.Director.Name}}</mat-card-subtitle> -->
        </mat-card-header>
        <img src="{{ favorite.ImagePath }}" alt="{{ favorite.Title }}" />
        <mat-card-actions>
          <button mat-button color="primary" (click)="removeFromFavorites(favorite._id, favorite.Title)">
            Remove From favorites
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>