<!--
  This component displays profile information to the user.  Here they can view/edit profile information, view/remove favourite movies, and delete their account.
-->
<app-nav-bar></app-nav-bar>
<div class="body">

  <div class="user-profile">
    <mat-card class="profile-info">
      <mat-card-header>
        <mat-card-title class="your-info">
          Your Profile Info:
        </mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        Username: {{ user.Username }}
      </mat-card-content>
      <mat-card-content>
        Password: ********
      </mat-card-content>
      <mat-card-content>
        Email: {{ user.Email }}
      </mat-card-content>
      <mat-card-content>
        <!-- adding " : 'UTC' " solved the issue with the Angular date picker being off by one day -->
        Birthday: {{ user.Birthday | date : 'MM/dd/yyyy' : 'UTC' }}
      </mat-card-content>
      <mat-card-actions>
        <div class="profile-buttons">
          <button class="update-profile" mat-raised-button color="basic" (click)="openUpdateProfileDialog()">
            Update Profile
          </button>
          <button class="delete-profile" mat-raised-button color="warn" (click)="deleteProfile()">
            Delete Profile
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="favourites-container">
    <!-- <mat-card-content> -->
    <div class="title-container">
      <mat-card-title class="title">Your Favourite Movies:</mat-card-title>
    </div>
    <!-- </mat-card-content> -->
    <div class="favourite-cards">
      <mat-card class="favourite" *ngFor="let favourite of favourites;">
        <img src={{favourite.ImagePath}} alt={{favourite.Title}} />
        <div class="favourite-title">
          <mat-card-title>{{favourite.Title}}</mat-card-title>
        </div>
        <div class="remove-favourite">
          <!-- <mat-card-actions> -->
          <button class="remove-button" mat-button color="basic"
            (click)="removeFromFavorites(favourite._id, favourite.Title)">
            Remove From favourites
          </button>
          <!-- </mat-card-actions> -->
        </div>
      </mat-card>
    </div>
  </div>
</div>